<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WSServer</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>/axis2-web/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCustomer</display-name>
    <servlet-name>GetCustomer</servlet-name>
    <servlet-class>com.bitmap.ajax.GetCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCustomer</servlet-name>
    <url-pattern>/GetCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployee</display-name>
    <servlet-name>GetEmployee</servlet-name>
    <servlet-class>com.bitmap.ajax.GetEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployee</servlet-name>
    <url-pattern>/GetEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetModel</display-name>
    <servlet-name>GetModel</servlet-name>
    <servlet-class>com.bitmap.ajax.GetModel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetModel</servlet-name>
    <url-pattern>/GetModel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoBrands</display-name>
    <servlet-name>PhotoBrands</servlet-name>
    <servlet-class>com.bitmap.ajax.PhotoBrands</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoBrands</servlet-name>
    <url-pattern>/PhotoBrands</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoSnap</display-name>
    <servlet-name>PhotoSnap</servlet-name>
    <servlet-class>com.bitmap.ajax.PhotoSnap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoSnap</servlet-name>
    <url-pattern>/PhotoSnap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bitmap.security.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BranchManagement</display-name>
    <servlet-name>BranchManagement</servlet-name>
    <servlet-class>com.bitmap.servlet.branch.BranchManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BranchManagement</servlet-name>
    <url-pattern>/BranchManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpManageServlet</display-name>
    <servlet-name>EmpManageServlet</servlet-name>
    <servlet-class>com.bitmap.servlet.hr.EmpManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpManageServlet</servlet-name>
    <url-pattern>/EmpManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrgManagement</display-name>
    <servlet-name>OrgManagement</servlet-name>
    <servlet-class>com.bitmap.servlet.hr.OrgManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrgManagement</servlet-name>
    <url-pattern>/OrgManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MaterialManage</display-name>
    <servlet-name>MaterialManage</servlet-name>
    <servlet-class>com.bitmap.servlet.inventory.MaterialManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaterialManage</servlet-name>
    <url-pattern>/MaterialManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchInventory</display-name>
    <servlet-name>SearchInventory</servlet-name>
    <servlet-class>com.bitmap.servlet.inventory.SearchInventory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchInventory</servlet-name>
    <url-pattern>/SearchInventory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowPartManagement</display-name>
    <servlet-name>BorrowPartManagement</servlet-name>
    <servlet-class>com.bitmap.servlet.parts.BorrowPartManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowPartManagement</servlet-name>
    <url-pattern>/BorrowPartManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PartInventory</display-name>
    <servlet-name>PartInventory</servlet-name>
    <servlet-class>com.bitmap.servlet.parts.PartInventory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartInventory</servlet-name>
    <url-pattern>/PartInventory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PartManagement</display-name>
    <servlet-name>PartManagement</servlet-name>
    <servlet-class>com.bitmap.servlet.parts.PartManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartManagement</servlet-name>
    <url-pattern>/PartManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PartSaleManage</display-name>
    <servlet-name>PartSaleManage</servlet-name>
    <servlet-class>com.bitmap.servlet.parts.PartSaleManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartSaleManage</servlet-name>
    <url-pattern>/PartSaleManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PartSupersession</display-name>
    <servlet-name>PartSupersession</servlet-name>
    <servlet-class>com.bitmap.servlet.parts.PartSupersession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PartSupersession</servlet-name>
    <url-pattern>/PartSupersession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PurchaseManage</display-name>
    <servlet-name>PurchaseManage</servlet-name>
    <servlet-class>com.bitmap.servlet.purchase.PurchaseManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PurchaseManage</servlet-name>
    <url-pattern>/PurchaseManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VendorManage</display-name>
    <servlet-name>VendorManage</servlet-name>
    <servlet-class>com.bitmap.servlet.purchase.VendorManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VendorManage</servlet-name>
    <url-pattern>/VendorManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrandsManagement</display-name>
    <servlet-name>BrandsManagement</servlet-name>
    <servlet-class>com.bitmap.servlet.sale.BrandsManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrandsManagement</servlet-name>
    <url-pattern>/BrandsManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModelsManagement</display-name>
    <servlet-name>ModelsManagement</servlet-name>
    <servlet-class>com.bitmap.servlet.sale.ModelsManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModelsManagement</servlet-name>
    <url-pattern>/ModelsManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaleManagement</display-name>
    <servlet-name>SaleManagement</servlet-name>
    <servlet-class>com.bitmap.servlet.sale.SaleManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaleManagement</servlet-name>
    <url-pattern>/SaleManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleManage</display-name>
    <servlet-name>VehicleManage</servlet-name>
    <servlet-class>com.bitmap.servlet.sale.VehicleManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleManage</servlet-name>
    <url-pattern>/VehicleManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLaborTime</display-name>
    <servlet-name>GetLaborTime</servlet-name>
    <servlet-class>com.bitmap.servlet.service.GetLaborTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLaborTime</servlet-name>
    <url-pattern>/GetLaborTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LaborManagement</display-name>
    <servlet-name>LaborManagement</servlet-name>
    <servlet-class>com.bitmap.servlet.service.LaborManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LaborManagement</servlet-name>
    <url-pattern>/LaborManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MechanicTaskManage</display-name>
    <servlet-name>MechanicTaskManage</servlet-name>
    <servlet-class>com.bitmap.servlet.service.MechanicTaskManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MechanicTaskManage</servlet-name>
    <url-pattern>/MechanicTaskManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QualityControl</display-name>
    <servlet-name>QualityControl</servlet-name>
    <servlet-class>com.bitmap.servlet.service.QualityControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QualityControl</servlet-name>
    <url-pattern>/QualityControl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceAdvisor</display-name>
    <servlet-name>ServiceAdvisor</servlet-name>
    <servlet-class>com.bitmap.servlet.service.ServiceAdvisor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceAdvisor</servlet-name>
    <url-pattern>/ServiceAdvisor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceAdvisorViewJob</display-name>
    <servlet-name>ServiceAdvisorViewJob</servlet-name>
    <servlet-class>com.bitmap.servlet.service.ServiceAdvisorViewJob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceAdvisorViewJob</servlet-name>
    <url-pattern>/ServiceAdvisorViewJob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportUtilsServlet</display-name>
    <servlet-name>ReportUtilsServlet</servlet-name>
    <servlet-class>com.bitmap.utils.report.ReportUtilsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportUtilsServlet</servlet-name>
    <url-pattern>/ReportUtilsServlet</url-pattern>
  </servlet-mapping>
</web-app>